.navbar {
  justify-content: center;
  background-color: #ffffff;
}

.navbar-container {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
}

.navbar-content {
  padding: 0 20px;
  align-items: center;
  flex-direction: row;
  max-width: 975px;
  height: 54px;
  width: 100%;
}

.navbar-logo {
  min-width: 40px;
  flex: 1 9999 0%;
}

.navbar-links {
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex: 1 0 0%;
}

.navbar-link {
  height: 22px;
}

.navbar-link:not(:first-child) {
  margin-left: 22px;
}

.profile-image {
  width: 100%;
  height: 100%;
}

.profile-border {
  border-radius: 50%;
  border: 1px solid #262626;
  height: 28px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
}
